colorama==0.4.4; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and sys_platform == "win32"
colorlog==4.6.2; python_full_version >= "3.6.3" and python_full_version < "4.0.0"
inspy-logger==2.0.0a3; python_full_version >= "3.6.3" and python_full_version < "4.0.0"
inspyre-toolbox==1.0a2; python_version >= "3.7" and python_version < "4.0"
pysimplegui==4.33.0
randomwords==0.3.0
setuptools-autover==1.0.2; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.5"
